.carousel {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 92vh;
  width: 100vw;
  margin-bottom: 8rem;
  margin-top: 4.375rem;
  }  

.carouselImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carouselMovieDetails {
  position: absolute;
}

.carouselMovieReleaseDate {
  display: flex;
  gap: 1.5625rem;
  margin-bottom: 1rem;
  align-items: center;
  color: white;
  font-size: 0.875rem;
  margin-left: 0.8125rem;
}

.carouselMovieRating {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
}

  
.carouselMovieOverview {
  color: white;
  font-style: italic;
  font-size: 1rem;
  margin-right: 0.625rem;
  display: flex;
  text-align: left;
  width: 70vh;
}

.carouselMovieTitle {
    color: white;
    font-weight: 900;
    margin-bottom: 1rem;
    text-align: left;
    width: 55%;
    font-size: 1.5rem;
    margin-left: 0.8125rem;
}
  

.starIcon {
  color: white;
  font-size: 0.875rem;
}


.carouselMovieOverlay {
  position: absolute;
  bottom: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  background-image: linear-gradient(rgba(18, 18, 18, 0), rgba(18, 18, 18, 1));
  opacity: 0.9;
  transition: opacity 0.3s;
  padding: 0;
}

.carouselMovieOverlay:hover {
  opacity: 1;

}
  @media only screen and (min-width: 576px) {
    .carouselMovieTitle {
      font-size: 2rem;
    }
    .carouselMovieOverview {
      width: 70vh;
    }

    .carouselMovieReleaseDate {
      font-size: 1.125rem;
    }

    .carouselMovieOverlay {
      padding: 2rem;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .carouselMovieTitle {
      font-size: 2.8125rem;
      margin-left: 0;
    }

    .carouselMovieOverview {
      width: 60vh;
    }

    .starIcon {
      font-size: 1rem;
    }

    .carouselMovieDetails {
      bottom: 10%;
    }

    .carouselMovieOverlay {
      padding: 3rem;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .carouselMovieTitle {
      font-size: 3.4375rem;
    }

    .carouselMovieOverview {
      width: 50vh;
      margin-bottom: 3rem;
  
    }

    .starIcon {
      font-size: 1.25rem;
    }

    .carouselMovieReleaseDate {
      font-size: 1.125rem;
      margin-left: 0;
    }

    .carouselMovieOverlay {
      padding: 4rem;
    }
  }