.carousel {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 92vh;
  width: 100vw;
  margin-bottom: 8rem;
  margin-top: 4.375rem;
}  
.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel-movie-details {
  position: absolute;
}
.carousel-movie-release-date {
  display: flex;
  gap: 1.5625rem;
  margin-bottom: 1rem;
  align-items: center;
  color: white;
  font-size: 0.875rem;
  margin-left: 0.8125rem;
}
.carousel-movie-rating {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
}
.carousel-movie-overview {
  color: white;
  font-style: italic;
  font-size: 1rem;
  margin-right: 0.625rem;
  display: flex;
  text-align: left;
  width: 70vh;
}
.carousel-movie-title {
  color: white;
  font-weight: 900;
  margin-bottom: 1rem;
  text-align: left;
  width: 55%;
  font-size: 1.5rem;
  margin-left: 0.8125rem;
}
.star-icon {
  color: white;
  font-size: 0.875rem;
}
.carousel-movie-overlay {
  position: absolute;
  bottom: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  background-image: linear-gradient(rgba(18, 18, 18, 0), rgba(18, 18, 18, 1));
  opacity: 0.9;
  transition: opacity 0.3s;
  padding: 0;
}
.carousel-movie-overlay:hover {
  opacity: 1;
}
  @media only screen and (min-width: 576px) {
      .carousel-movie-title {
        font-size: 2rem;
      }
      .carousel-movie-overview {
        width: 70vh;
      }
      .carousel-movie-release-date {
      font-size: 1.125rem;
      }
      .carousel-movie-overlay {
      padding: 2rem;
      }
  }
  @media only screen and (min-width: 768px) {
    .carousel-movie-title {
      font-size: 2.8125rem;
      margin-left: 0;
    }
    .carousel-movie-overview {
      width: 60vh;
    }
    .star-icon {
      font-size: 1rem;
    }
    .carousel-movie-details {
      bottom: 10%;
    }
    .carousel-movie-overlay {
      padding: 3rem;
    }
  }
  @media only screen and (min-width: 992px) {
    .carousel-movie-title {
      font-size: 3.4375rem;
    }
    .carousel-movie-overview {
      width: 50vh;
      margin-bottom: 3rem;
    }
    .star-icon {
      font-size: 1.25rem;
    }
    .carousel-movie-release-date {
      font-size: 1.125rem;
      margin-left: 0;
    }
    .carousel-movie-overlay {
      padding: 4rem;
    }
  }