:root {
  --mainThemeColor: #fc9803;
  --mainThemeColorSecondary: #fc7703;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    width: min(90vw, 71.875rem);
    list-style: none;
    padding: 0;
  }

  .card {
    position: relative;
    padding: 1.375rem;
    height: 27.5rem;
    flex: 0 0 40%;
    color: white;
    cursor: pointer;
    
  }

  .card:nth-child(4n + 1),
  .card:nth-child(4n + 4) {
    flex: 0 0 60%;
  }
  
  .card-content-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    pointer-events: none;
  }
  
  .card-content-container.open {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1;
    overflow: hidden;
    padding: 2.5rem 0;
  }
  
  .card-content {
    pointer-events: auto;
    position: relative;
    border-radius: 2.5rem;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    box-shadow: 0.5rem 0.5rem 0.75rem -0.313rem rgb(0, 0, 0, 1);
  }
  
  .open .card-content {
    width: 95%;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    background: rgba(255, 255, 255, 0.95);
    height: auto;
    max-width: 43.75rem;
    overflow: hidden;
  }

  .card-image {
    filter: brightness(75%);
    transition: filter 0.5s ease-in-out;
  }

  .open .card-image {
    filter: brightness(90%)
  }

  .card-image-container {
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    overflow: hidden;
   }

  .open .card-image-container {
    position: static;
    z-index: 1;
  }

  .title-container {
    position: absolute;
    top: 2rem;
    min-width: 8rem;
    max-width: 18.75rem;
    padding: 0.7rem;
    font-weight: bold;
    font-size: 1.6rem;
    color: white;
  }
  
  .open .title-container {
    display: flex;
    z-index: 2;
    flex-direction: column;
    font-weight: bold;
    left: 0;
    border-bottom-right-radius: 1.1rem;
    border-top-right-radius: 1.1rem;
    background-color: var(--mainThemeColor);

  }

  .trendingMovieRating {
    color: white;
    font-size: 0.8rem;
  }


  .trendingMovieModalOverlay {
    z-index: 1;
    position: fixed;
    backdrop-filter: blur(0.313rem);
    top: 0;
    bottom: 0;
    width: 100%;
  }


  .content-container {
    display: flex;
    flex-direction: column;
    z-index: 1;  
  }
  
  .zoom-on-hover {
    transition: transform 0.15s ease-in-out, filter 0.3s ease-in-out;
  }
  
  .zoom-on-hover:hover {
    transform: scale(1.05);
  }


  @media only screen and (max-width: 50rem) {
    .card-list {
      width: 70vw;
    }
    .card {
      flex: 1 0 100%;
      max-width: 100%;
      height: 21.875rem;
      padding-bottom: 0.313rem;
      padding-left: 0;
      padding-right: 0;
    }
  
    .card:nth-child(4n + 1),
    .card:nth-child(4n + 4) {
      flex: 1 0 100%;
      max-width: 100%;
    }
  }

