:root {
  --mainThemeColor: #fc9803;
  --mainThemeColorSecondary: #fc7703;
}
.toolbar {
  background-color: var(--mainThemeColor);
  height: 4.375rem;
  justify-content: space-between;
}
.navbar-menu {
  display: flex;
  align-items: center;
}
.drawer-list-row {
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.drawer-list-row-name {
  opacity: 1;
  font-size: 0.9rem;
  color: white;
}
.drawer-button {
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}
.drawer-link {
  color: white;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  text-decoration: none;
}
.drawer-link:hover {
  opacity: 0.4;
}
