.search-movies {
  position: fixed;
  top: 4.375rem;
  left: 0;
  width: 100%;
  height: 31.25rem;
  z-index: 2;
  display: flex;
  overflow-x: scroll;
  padding-top: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.searched-movies {
  color: white;
  display: flex;
  gap: 1rem;
  max-width: 100%;
  overflow-x: scroll;
  padding: 1rem;
}
.searched-movie {
  display: flex;
  justify-content: center;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  animation: fadeIn 1s cubic-bezier(0.175, 0.885, 0, 1);
  position: relative;
  border-radius: 3.125rem;
  overflow: hidden;
  min-width: 15.625rem;
  box-shadow: 0.5rem 0.5rem 0.75rem -0.3125rem rgb(0, 0, 0);
}
.searched-movie:hover {
  color: white;
  transform: scale(1.05, 1.05);
}
.searched-movie-poster:hover {
  filter: brightness(0.3);
}
.searched-movie:hover .searched-movie-poster {
  filter: brightness(0.3);
  scale: 120%;
  transition: all 0.15s ease-in-out;
}
.searched-movie:hover .add-to-watchlist-button {
  visibility: visible;
}
.add-to-watchlist-button {
  visibility: hidden;
}
.searched-movie-details {
  visibility: hidden;
  position: absolute;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.8rem;
  text-align: center;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  align-content: center; 
  gap: 0.625rem; 

}
.searched-movie:hover .searched-movie-details {
  visibility: visible;
}
.search-movie-overview {
  max-height: 11rem;
  padding: 0.5rem;
  color: white;
  font-size: 0.9rem;
  word-wrap: break-word;
  white-space: normal;
  width: 85%;
  align-self: center;
  justify-self: center;
  overflow: scroll;

}
.search-movie-details {
  word-wrap: break-word;
  white-space: normal;
  font-size: 0.7rem;
  max-width: 12rem;
  align-self: center;
}
.searched-movie-divider {
  background-color: white;
  width: 30%;
  margin: auto;
  opacity: 30%;
  height: 0.063rem;
}