.searchedMovie {
  display: flex;
  justify-content: center;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  animation: fadeIn 1s cubic-bezier(0.175, 0.885, 0, 1);
  position: relative;
  border-radius: 3.125rem;
  overflow: hidden;
  min-width: 15.625rem;
  box-shadow: 0.5rem 0.5rem 0.75rem -0.3125rem rgb(0, 0, 0);
}

.searchedMovie:hover {
  color: white;
  transform: scale(1.05, 1.05);
}

.searchedMoviePoster:hover .searchedMovie__details {
  visibility: visible;
}

.searchedMovie:hover .searchedMoviePoster {
  filter: brightness(0.3);
  scale: 120%;
  transition: all 0.15s ease-in-out;
}

.searchedMovie:hover .addToWatchlist {
  visibility: visible;
}

.addToWatchlist {
  visibility: hidden;
}

.searchedMovie:hover .searchedMovieRankPosition {
  visibility: hidden;
}

.searchedMovieDetails {
  visibility: hidden;
  position: absolute;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.8rem;
  text-align: center;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  align-content: center; 
  gap: 0.625rem; 
}

.searchedMovie:hover .searchedMovieDetails {
  visibility: visible;
}

.serachMovieFadeIn {
  animation-name: fadeIn;
  animation-duration: 0.25s;
}

.searchMovieFadeOut {
  animation-name: fadeOut;
  animation-duration: 0.25s;
}
