:root {
  --mainThemeColor: #fc9803;
  --mainThemeColorSecondary: #fc7703;
}
::-webkit-scrollbar {
  display: none;
}
html {
  width: 100vw;
  overflow-x: hidden;
  scrollbar-width: none;
}
body {
  margin: 0;
  overflow-x: hidden;
}
ul, li {
list-style: none;
padding: 0;
margin: 0;
}
* {
  box-sizing: border-box;
  font-family: Helvetica;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: color 0.2s ease-in-out, background-color 0.3s ease-in-out;
}
.home-page {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headline-divider {
  height: 0.313rem;
  width: 100%;
  box-shadow: 0.125rem 0.125rem 0.125rem 0rem rgba(0, 0, 0, 0.2);
}
.call-to-action-label {
  margin-top: 4rem;
  margin: auto;
  opacity: 50%;
}
.bottom-scroll-bar {
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  height: 0.3125rem;
  background-color: orange;
  opacity: 0.6;
  bottom: 0px;
  border-radius: 6.25rem;
}
.infinite-slider {
  position: relative;
  height: 100%;
  width: 100%;
  touch-action: none;
}
/* ----------------------- MEDIA QUERIES ----------------------- */
@media (min-width: 992px) {
  .quote {
    font-size: 1.3rem;
    width: 57%;
  }
}
@media (min-width: 576px) {
  .headline-title {
    font-size: 3.438rem;
  }
  .headline-subtitle {
    width: 55%;
  }
  .quote {
    font-size: 1rem;
    width: 70%;
  }
}
@media (min-width: 768px) {
  .headline-subtitle {
    font-size: 0.938rem;
    width: 60%;
  }
  .footer-menu {
    gap: 5.625rem;
  }
  .quote {
    font-size: 1.1rem;
    width: 60%;
  }
  .headline-title {
    font-size: 4.5rem;
  }
}
