
:root {
  --mainThemeColor: #fc9803;
  --mainThemeColorSecondary: #fc7703;
}

::-webkit-scrollbar {
  display: none; 
}

html {
width: 100vw;
overflow-x: hidden;
scrollbar-width: none;
}

body {
  margin: 0;
  overflow-x: hidden; 
}

* {
  box-sizing: border-box;
  font-family: Helvetica;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

.homePage {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divider {
  background-color: white;
  width: 30%;
  margin: auto;
  opacity: 30%;
  height: 0.063rem;
}

.headlineDivider {
  height: 0.313rem;
  width: 100%;
  box-shadow: 0.125rem 0.125rem 0.125rem 0rem rgba(0, 0, 0, 0.2);
}

.callToActionLabel {
  margin-top: 4rem;
  margin: auto;
  opacity: 50%;
}

.bottomScrollBar {
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  height: 0.3125rem;
  background-color: orange;
  opacity: 0.6;
  bottom: 0px;
  border-radius: 6.25rem;
}


.infiniteSlider  {
    position: relative;
    height: 100%;
    width: 100%;
    touch-action: none;
}

/* ----------------------- MEDIA QUERIES ----------------------- */
@media (min-width: 992px) {
  .quote {
    font-size: 1.3rem;
    width: 57%;
  }
}


@media (min-width: 576px) {
  .headlineTitle {
    font-size: 3.438rem;
  }

  .headlineSubtitle {
    width: 55%;
  }

  .quote {
    font-size: 1rem;
    width: 70%;
  }
}

@media (min-width: 768px) {
  .headlineSubtitle {
    font-size: 0.938rem;
    width: 60%;
  }

  .footerMenu {
    gap: 5.625rem;
  }

  .quote {
    font-size: 1.1rem;
    width: 60%;
  }

  .headlineTitle {
    font-size: 4.5rem;
  }
}

/* ----------------------- KEYFRAMES ----------------------- */
@keyframes watchlistButtonAnimateAdd {
  0% {
    transform: translateY(0) scale(1);
  }
  30% {
    transform: translateY(-2.5rem) scale(1.4);
  }

  60% {
    transform: translateY(-1.875rem) scale(1.25);
  }

  100% {
    transform: translateY(0) scale(1);
  }
}

@keyframes flashAndScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
    filter: brightness(1.2);
  }
  100% {
    transform: scale(1);
  }
}