* {
  box-sizing: border-box;
  font-family: ".SFNSText", "SFProText-Regular", "SFUIText-Regular", ".SFUIText",
    Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

.watchlistHide {
  transform-origin: right bottom;
  animation: watchlistRoll 0.3s ease-in-out forwards, fadeOut 0.3s ease-in-out forwards;
}

.watchlistShow {
  transform-origin: right bottom;
  animation: watchlistUnroll 0.2s ease-in-out forwards, fadeIn 0.3s ease-in-out forwards;
}

.animateAddToWatchlist {
  animation: watchlistButtonAnimateAdd 0.8s ease-in-out;
}

.dividerStyle {
  background-color: white;
  width: 30%;
  margin: auto;
  opacity: 30%;
  height: 1px;
}

.movieModalDetails {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  padding-top: 0;
  color: black;
}

.carouselStyles {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 92vh;
  width: 100vw;
  margin-bottom: 8rem;
  }  

.container {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.speed-dial-list::-webkit-scrollbar {
  display: none; 
}

::-webkit-scrollbar {
  display: none; 
}

html {
  scrollbar-width: none;
}

body {
  margin: 0;
}

.credits {
  font-style: italic;
  margin: 3;
  color: gray;
  font-size: 0.7em;
  display: block;
}