:root {
  --mainTheme: #fc9803;
}
.top-rated-page {
  margin-top: 7rem;
  padding: 0;
  display: flex;
  justify-content: center;
}
.top-rated-movies {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  align-content: center;
}
.top-rated-movie {
  display: flex;
  justify-content: center;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  height: 23rem;
  width: min(23rem, 95vw);
  position: relative;
  border-radius: 3.125rem;
  border: none;
  overflow: hidden;
  box-shadow: 0.5rem 0.5rem 0.75rem -0.313rem rgb(0, 0, 0, 1);
}
.top-rated-movie:hover {
  color: white;
  transform: scale(1.10, 1.10);
  box-shadow: 0.5rem 0.5rem 0.75rem -0.313rem rgb(0, 0, 0, 1);
}
.top-rated-movie__img--hover {
  transition: 0.2s all ease-out;
  position: absolute;
  height: 70%;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  top: 0;
}
.top-rated-movie:hover .add-to-watchlist-button {
  visibility: visible;
}
.add-to-watchlist-button {
  visibility: hidden;
}
.top-rated-movie-rank-position {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 5rem;
  color: white;
  padding: 0.7rem;
  opacity: 95%;
  border-bottom-right-radius: 1.875rem;
  background-color: var(--mainTheme);
}
.top-rated-movie:hover .top-rated-movie-rank-position {
  visibility: hidden;
}
.top-rated-movie__details {
  visibility: hidden;
  position: absolute;
  color: white;
  top: 0;
  padding: 2rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  justify-content: 'center';
  align-items: 'center';
  align-content: 'center';
  gap: 1rem;
}
.top-rated-movie:hover .top-rated-movie__details {
  visibility: visible;
}
.top-rated-movie:hover .top-rated-movie__img--hover {
    height: 100%;
    filter: brightness(0.3);
}
.top-rated-movie-skeleton {
  border-radius: 2rem;
  margin: auto;
}
.top-rated-movie-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.3rem;
  padding: 1rem;
  font-weight: 900;
}
.top-rated-movie-title {
  font-weight: 500;
  color: black;
  font-size: 1.6rem;
}
.top-rated-movie-release-date {
  display: flex;
  align-items: center;
  gap: 0.313rem;
}
.top-rated-movie-headings {
  height: 30%;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background-color: white;
}
.top-rated-movie-overview {
  font-size: 0.9rem;
  color: white;
  max-height: 12.5rem;
  overflow: scroll;
}
@media (max-width: 23em) {
  .top-rated-movie-title {
    font-size: 1.7rem;
  }
}
@media (max-width: 47.5em) {
  .top-rated-movie {
    width: 28rem;
  }
}
@media (max-width: 30em) {
  .top-rated-movie {
    width: 20rem;
  }
}