:root {
  --mainTheme: #fc9803;
}

.topRatedPage {
  margin-top: 7rem;
  padding: 0;
  display: flex;
  justify-content: center;
}

.topRatedMovies {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  align-content: center;
}

.topRatedMovie {
  display: flex;
  justify-content: center;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  height: 23rem;
  width: min(23rem, 95vw);
  position: relative;
  border-radius: 3.125rem;
  border: none;
  overflow: hidden;
  box-shadow: 0.5rem 0.5rem 0.75rem -0.313rem rgb(0, 0, 0, 1);
}

.topRatedMovie:hover {
  color: white;
  transform: scale(1.10, 1.10);
  box-shadow: 0.5rem 0.5rem 0.75rem -0.313rem rgb(0, 0, 0, 1);
}

.topRatedMovie__img--hover {
  transition: 0.2s all ease-out;
  position: absolute;
  height: 70%;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  top: 0;
}

.topRatedMovie:hover .addToWatchlist {
visibility: visible;
}
.addToWatchlist {
visibility: hidden;
}

.topRatedMovieRankPosition {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 5rem;
  color: white;
  padding: 0.7rem;
  opacity: 95%;
  border-bottom-right-radius: 1.875rem;
  background-color: var(--mainTheme);
}

.topRatedMovie:hover .topRatedMovieRankPosition {
visibility: hidden;
}

.topRatedMovie__details {
  visibility: hidden;
  position: absolute;
  top: 0;
  padding: 2rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  justify-content: 'center';
  align-items: 'center';
  align-content: 'center';
  gap: 1rem;

}

.topRatedMovie:hover .topRatedMovie__details {
  visibility: visible;
}

.topRatedMovie:hover .topRatedMovie__img--hover {
    height: 100%;
    filter: brightness(0.3);}


.topRatedMovieSkeleton {
  border-radius: 2rem;
  margin: auto;
}


.topRatedMovieRating {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.3rem;
  padding: 1rem;
  font-weight: 900;
}

.topRatedMovieTitle {
  font-weight: 500;
  color: black;
  font-size: 1.6rem;
}

.topRatedMovieReleaseDate {
  display: flex;
  align-items: center;
  gap: 5px;
}

.topRatedMovieHeadings {
  height: 30%;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background-color: white;
}

.topRatedMovieOverview {
  font-size: 0.9rem;
  color: white;
  max-height: 200px;
  overflow: scroll;
}

@media (max-width: 23em) {
  .topRatedMovieTitle {
    font-size: 1.7rem;
  }
}

@media (max-width: 47.5em) {
  .topRatedMovie {
    width: 28rem;
  }
}

@media (max-width: 30em) {
  .topRatedMovie {
    width: 20rem;
  }
}