.actor-details {
    display: flex;
    width: 34.375rem; 
    margin-top: 1.5rem;
    align-items: flex-start;
    margin-top: 6rem;
  }
  
  .actor-info {
    width: 60%;
    margin-right: 1.5rem;
  }
  
  .actor-name {
    font-size: 2rem; 
    font-weight: bold;
  }
  
  .actor-known-for {
    font-size: 1rem;
    color: #fc7b03;
    font-weight: bold;
  }
  
  .actor-role-overview {
    opacity: 70%;
    margin-bottom: 0.625rem;
  }
  
  .actor-image {
    border-radius: 3.125rem; 
    box-shadow: 0.5rem 0.5rem 0.75rem -0.3125rem rgba(0, 0, 0, 1); 
    height: auto;
  }
  
  .actor-known-for-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 0.3125rem; 
    font-style: italic;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  

  .actor-rating {
  font-size: 1rem;
  display: flex;
  min-width: 2.5rem;
}

.actor-role-overview {
  opacity: 70%;
  max-height: 15rem;
}

.actors-infinite-slider {
  background: transparent;
  height: 25rem;
  width: 100%;
  margin-bottom: 12.5rem;
  margin-top: -1.25rem;
}


@media (max-width: 768px) {
  .actor-name {
    font-size: 1.6rem; 
  }
}