:root {
    --mainThemeColor: #fc9803;
    --mainThemeColorSecondary: #fc7703;
}
.watchlist {
    background: rgba(255, 255, 255, 0.45);
    width: 28.125rem;
    max-height: 37.5rem;
    overflow-y: auto;
    border-radius: 2.5rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    scrollbar-width: none;
    overflow: scroll;
    min-height: 12.5rem;
}  
.watchlist-movie {
    display: flex;
    flex-grow: 1;
    gap: 0.5rem;
    align-items: center;
}
.watchlist-movie-details {
    display: flex;
    max-width: 7.5rem;
    flex-direction: column;
    transition: 0.2s ease-in-out all;
    align-self: flex-start;
}
.animate-add-to-watchlist {
    animation: watchlist-button-animate-add 0.8s ease-in-out;
}
.watchlist-movie-details:hover {
    opacity: 0.4;
}

.watchlist-movie-image {
    width: 7.5rem;
    height: 4.25rem;
    border-radius: 0.5rem;
    margin-bottom: 0.2rem;
    margin-right: 0.5rem;
}
.watchlist-movie-title {
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
    margin-top: 0.15rem;
}
.watchlist-movie-release-date {
    font-size: 0.5rem;
    font-weight: bold;
}

.watchlist-movie-overview {
    align-self: start;
    justify-content: start;
    overflow: scroll;
    color: black;
    font-size: 0.75rem;
    transition: 0.2s ease-in-out all;
    margin-top: -0.2rem;
} 
.watchlist-movie-overview:hover {
    opacity: 0.4;
}
.watchlist-heading {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
} 
.watchlist-heading-text {
    font-weight: 600;
    font-size: 3rem;
    padding-top: 1rem;
    padding-left: 2.6rem;
    margin-bottom: 1rem;
    z-index: 100;
    color: black;
    opacity: 0.85;
    width: 100%;
}
.access-alarm-icon {
    margin: 1.5rem;
} 
.watchlist-movie-overview {
    align-self: start;
    justify-content: start;
    overflow: scroll;
    color: black;
    font-size: 0.75rem;
    transition: 0.2s ease-in-out all;
    max-height: 9.375rem;
    overflow-y: scroll;
}

.watchlist-movie-overview:hover {
    opacity: 0.4;
}
.watchlist-row {
    display: flex;
    align-items: center;
    align-content: center;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
}
.watchlist-movie-divider {
    width: 80%;
    height: 0.031rem;
    margin: auto;
    border: 0.063rem black solid;
    text-align: center;
    align-self: center;
    justify-content: center;
    opacity: 0.05;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}
  /* ----------------------- WATCHLIST SPEEDDIAL ----------------------- */
.speed-dial-list::-webkit-scrollbar {
    display: none;
} 
.watchlist-speed-dial {
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    z-index: 6;
} 
.watchlist-badge {
    right: 0.625rem;
    z-index: 6;
    transition: 0.2s all ease-in-out;
}
.watchlist-badge:hover {
    transform: scale(1.15);
} 
@media (max-width: 400px) {
    .watchlist-heading-text {
        font-size: 2.2rem;
    }
}
@media (max-width: 767px) {
    .watchlist {
        max-width: 90vw;
    }
}
@keyframes watchlist-button-animate-add {
    0% {
        transform: translateY(0) scale(1);
    }
    30% {
        transform: translateY(-2.5rem) scale(1.4);
    }
    60% {
        transform: translateY(-1.875rem) scale(1.25);
    }
    100% {
        transform: translateY(0) scale(1);
    }
  }
  