:root {
    --mainThemeColor: #fc9803;
    --mainThemeColorSecondary: #fc7703;
  }

.watchlistMovie {
    display: flex;
    flex-grow: 1;
    gap: 0.5rem;
    
}


.watchlistMovieDetails {
    display: flex;
    max-width: 7.5rem;
    flex-direction: column;
    transition: 0.2s ease-in-out all;
    align-self: flex-start;
    
}

.animateAddToWatchlist {
    animation: watchlistButtonAnimateAdd 0.8s ease-in-out;
  }

.watchlistMovieDetails:hover {
    opacity: 0.4;
}

.watchlistMovieImage {
    width: 7.5rem;
    height: 4.25rem;
    border-radius: 0.5rem;
    margin-bottom: 0.2rem;
    margin-right: 0.5rem;
}

.watchlistMovieTitle {
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
    margin-top: 0.15rem;
}

.watchlistMovieReleaseDate {
    font-size: 0.5rem;
    font-weight: bold;
    margin-bottom: 0.25px;
}

.watchlistMovieOverview {
    align-self: start;
    justify-content: start;
    overflow: scroll;
    color: black;
    font-size: 0.75rem;
    transition: 0.2s ease-in-out all;
    margin-top: -0.2rem;
}

.watchlistMovieOverview:hover {
    opacity: 0.4;
}

.watchlistHeading {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
}

.watchlistHeadingText {
    font-weight: 600;
    font-size: 3rem;
    padding-top: 1rem;
    padding-left: 2.6rem;
    margin-bottom: 1rem;
    z-index: 100;
    color: black;
    opacity: 0.85;
    width: 100%;
}

.watchlist {
    background: rgba(255, 255, 255, 0.45);
    width: 450px;
    max-height: 600px;
    overflow-y: auto;
    border-radius: 2.5rem;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-content: center;
    scrollbar-width: none;
    overflow: scroll;
    min-height: 200px;
}

@media (max-width:400px) {
    .watchlistHeadingText {
    font-size: 2.2rem;
    }
}

@media (max-width:767px) {
    .watchlist {
        max-width: 90vw;
    }
}

.accessAlarmIcon {
    margin: 1.5rem;
}

.overlay {
    position: fixed;
    background-color: black;
    opacity: 0.5;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
}


.watchlistMovie {
    display: flex;
    flex-grow: 1;
    gap: 0.5rem;
    align-items: center;
}

.watchlistMovieOverview {
    align-self: start;
    justify-content: start;
    overflow: scroll;
    color: black;
    font-size: 0.75rem;
    transition: 0.2s ease-in-out all;
    max-height: 150px;
    overflow-y: scroll;
}

.watchlistMovieOverview:hover {
    opacity: 0.4;
}

.watchlistRow {
    display: flex;
    align-items: center;
    align-content: center;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
}

.watchlistMovieDivider {
    width: 80%;
    height: 0.5px;
    margin: auto;
    border: 1px black solid;
    text-align: center;
    align-self: center;
    justify-content: center;
    opacity: 0.05;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

/* ----------------------- WATCHLIST SPEEDDIAL ----------------------- */

.speed-dial-list::-webkit-scrollbar {
    display: none; 
  }


.watchlistSpeedDial {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.watchlistBadge {
    right: 10px;
    z-index: 9999;
    transition: 0.2s all ease-in-out;
}

.watchlistBadge:hover {
    transform: scale(1.15);
}
