.posterImage{
    margin: 0 auto;
}

.posterImage > img {
    width: '100vw';
    min-height: 200px;
    max-height: 900px; 

}

.carouselStyles {
display: flex;
flex-direction: column;
margin: auto;
max-height: 900px;
}

  

.posterImage__overlay {
    position: absolute;
    padding: 4rem;
    bottom: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
    opacity: 0.9;
    transition: opacity .3s;
}   

.posterImage__overlay:hover {
    opacity: 1;
}

.posterImage__title {
    color: white;
    font-weight: 900;
    font-size: 4rem;
    margin-bottom: 0.4rem;
    text-align: left;
    width: 55%;
}

.posterImage__runtime {
    font-size: 2rem;
    margin-bottom: 1rem;
    color:white;
}

.posterImage__rating {
    color:white;
    margin-left: 1rem;
}

.posterImage__description {
    color: white;
    font-style: italic;
    font-size: 1rem;
    bottom: 0;
    margin-right: 10px;
    display: flex;
    text-align: left;
}
